In [2]:
t = (1,2,3,4,5,"sudh",3+8j)

In [3]:
type(t)

tuple

In [12]:
t1 = ("sudh",345, 45+89j, 546.56, True,)# [1,2,3,4], {1,2,3}, {"a":[1,2,3]})
l1 = ["sudh",345, 45+89j, 546.56, True,]

In [13]:
type(t1)

tuple

In [14]:
type(l1)

list

In [15]:
len(t1)

5

In [16]:
len(l1)

5

In [17]:
t1[0:2]

('sudh', 345)

In [18]:
l1[0:2]

['sudh', 345]

In [19]:
t1[::-1]

(True, 546.56, (45+89j), 345, 'sudh')

In [21]:
t1

('sudh', 345, (45+89j), 546.56, True)

In [22]:
t1[-1]

True

In [32]:
t1[-1:2]

()

In [29]:
t1[-1:5]

(True,)

In [33]:
t1[::2]

('sudh', (45+89j), True)

In [34]:
l1

['sudh', 345, (45+89j), 546.56, True]

In [35]:
l2 = [4,5,6,7]

In [38]:
l1[0] = "kumar"

In [39]:
l1

['kumar', 345, (45+89j), 546.56, True]

In [41]:
t1

('sudh', 345, (45+89j), 546.56, True)

In [43]:
t1[0]

'sudh'

In [44]:
t1[0]="xyz"

TypeError: 'tuple' object does not support item assignment

In [45]:
s = "sudh"

In [46]:
s[1]= 45

TypeError: 'str' object does not support item assignment

In [47]:
t2 = (34,56,56,56,5,656)

In [49]:
t1+t2 ### this is add 2 tuples with + operator

('sudh', 345, (45+89j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [50]:
l1

['kumar', 345, (45+89j), 546.56, True]

In [51]:
l2

[4, 5, 6, 7]

In [52]:
l1+l2

['kumar', 345, (45+89j), 546.56, True, 4, 5, 6, 7]

In [53]:
l1

['kumar', 345, (45+89j), 546.56, True]

In [54]:
l2

[4, 5, 6, 7]

In [59]:
t1= t1*2

In [60]:
t1.count("sudh")

2

In [61]:
t1.index(345)

1

In [62]:
t1.count((45+89j))

2

In [65]:
t1.index("sudh")## it will provide single value first occurance index value will provide

0

In [66]:
t2 = (45,54,54,5,(4,5,6),("sudh"))

In [67]:
t2

(45, 54, 54, 5, (4, 5, 6), 'sudh')

In [68]:
t1 = ([3,4,54,6],("sd", 435, 56), "sudh")

In [69]:
t1[0]

[3, 4, 54, 6]

In [70]:
t1[0][2]=123

In [71]:
t1

([3, 4, 123, 6], ('sd', 435, 56), 'sudh')

In [72]:
t3 = (53,54,56,53,4,5,6,54)

In [73]:
l3 = list(t3)

In [74]:
l3

[53, 54, 56, 53, 4, 5, 6, 54]

In [264]:
tuple(l3)

(53, 54, 56, 53, 4, 5, 6, 54)

In [265]:
t5 = ("charvik",1,1+2j,3,4,True)

In [266]:
t5.index(True)

1

# Sets

In [86]:
l_s = [1,2,3,4,5,5,5,5,5,6,7,8,8,8,9,0,1,2,3,4]

In [87]:
l_s

[1, 2, 3, 4, 5, 5, 5, 5, 5, 6, 7, 8, 8, 8, 9, 0, 1, 2, 3, 4]

In [88]:
s1 = set(l_s)

In [89]:
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [90]:
l4 = [1,2,3,4,5,1,2,3,4,5,"charvik","honey","Amma",34.7,True, 4+8j]

In [92]:
s1 = set(l4)

In [93]:
s1

{(4+8j), 1, 2, 3, 34.7, 4, 5, 'Amma', 'charvik', 'honey'}

In [94]:
s = {}

In [95]:
type(s)

dict

In [106]:
s1 = {20,30,40}
type(s1)

set

In [107]:
s2 = {1,1,1,2,3,4,2,54,3,33,34}

In [108]:
s2

{1, 2, 3, 4, 33, 34, 54}

In [110]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [112]:
list(s2)

[1, 2, 3, 4, 33, 34, 54]

In [114]:
s2.add(10)

In [115]:
s2

{1, 2, 3, 4, 10, 33, 34, 54}

In [119]:
s2.add(82334)

In [120]:
s2.add("sudh")

In [121]:
s2

{1, 10, 12334, 2, 3, 33, 34, 4, 54, 82334, 'sudh'}

In [123]:
s2.add([2,3,4,5])

TypeError: unhashable type: 'list'

In [134]:
new_ls = (20,30,40,50)
set(new_ls)

{20, 30, 40, 50}

In [137]:
s2.add((new_ls))

In [138]:
s2

{(20, 30, 40, 50), 1, 10, 12334, 2, 3, 33, 34, 4, 54, 82334, 'sudh'}

In [139]:
s2

{(20, 30, 40, 50), 1, 10, 12334, 2, 3, 33, 34, 4, 54, 82334, 'sudh'}

In [141]:
s2.remove(4)

In [142]:
s2

{(20, 30, 40, 50), 1, 10, 12334, 2, 3, 33, 34, 54, 82334, 'sudh'}

In [144]:
s2.discard(10)

In [145]:
s2

{(20, 30, 40, 50), 1, 12334, 2, 3, 33, 34, 54, 82334, 'sudh'}

In [146]:
s3 = {1,2,3,4,5,10,20,30,45,50}

In [147]:
s3

{1, 2, 3, 4, 5, 10, 20, 30, 45, 50}

In [148]:
s3.remove(4)

In [149]:
s3

{1, 2, 3, 5, 10, 20, 30, 45, 50}

In [150]:
s3.discard(10)

In [151]:
s3

{1, 2, 3, 5, 20, 30, 45, 50}

In [154]:
s3.discard(1999)

In [155]:
s3

{1, 2, 3, 5, 20, 30, 45, 50}

In [156]:
s3.remove(45)

In [157]:
s3.remove(999)

KeyError: 999

In [158]:
s3.discard(45)

In [159]:
s3

{1, 2, 3, 5, 20, 30, 50}

In [160]:
s4 = {"sudh","Sudh"}

In [162]:
s4

{'Sudh', 'sudh'}

# Dict

In [163]:
d = {}

In [164]:
type(d)

dict

In [165]:
d1 = {1,2,3}

In [166]:
type(d1)

set

In [169]:
d2 = {4:"Sudh"} ### here 4 is the key and "Sudh" is the value

In [170]:
d2

{4: 'Sudh'}

In [173]:
d3 = {"key1":54, "key2":"sudh","key3":[3,4,5,6]}

In [174]:
d3

{'key1': 54, 'key2': 'sudh', 'key3': [3, 4, 5, 6]}

In [183]:
d4 = {"key1":5445, "key2":"sudh",45:[3,4,5,6]}

In [184]:
d4

{'key1': 5445, 'key2': 'sudh', 45: [3, 4, 5, 6]}

In [187]:
l = [3,4,5,6,7]## in strings list and tuples internally it will going to create indexes in forward and backward
#(correlated === in dict indexes are keys)

In [188]:
d4['key1']

5445

In [189]:
d4[45]

[3, 4, 5, 6]

In [190]:
d4['key2']

'sudh'

In [191]:
d5 = {3:["dasdsf","sudh",4,5,6,7]} ## keys need not to be start with _ or special chars,

In [192]:
d5 = {.3:["dasdsf","sudh",4,5,6,7]}

In [194]:
d5 = {"_4":"sudhanshu","_5":[1,2,3,4],"_6":(1,2,3,4,5),"_7":{1,2,3,4,5}}

In [195]:
d5["_5"]

[1, 2, 3, 4]

In [198]:
d6 = {"key1":[1,2,3,4,5],"key2":"Sudhanshu", "key3":45,"key1":"Sudh"} ## if we are passing same keys multiple times and 
### wherever the key is the lasttime those latest value will be come to complete dic

In [197]:
d6

{'key1': 'Sudh', 'key2': 'Sudhanshu', 'key3': 45}

In [216]:
d7 = {'name':"charvik_sai",
      "mob_no":8790395691,
      "mail_id":"chaitanyaravi.g3@gmail.com",
      "key1":[4,5,6,7],
      "key2":(1,2,3),
      "key3":{10,20,30,40,40,50,20,30,10,20,30},
      "key4":{"key4_1":4,100:5}}

In [217]:
d7

{'name': 'charvik_sai',
 'mob_no': 8790395691,
 'mail_id': 'chaitanyaravi.g3@gmail.com',
 'key1': [4, 5, 6, 7],
 'key2': (1, 2, 3),
 'key3': {10, 20, 30, 40, 50},
 'key4': {'key4_1': 4, 100: 5}}

In [218]:
d7['key3']

{10, 20, 30, 40, 50}

In [219]:
type(d7["key3"])

set

In [220]:
d7['key4']

{'key4_1': 4, 100: 5}

In [221]:
type(d7['key4'])

dict

In [223]:
d7['key4'][100]

5

In [225]:
d7.keys()

dict_keys(['name', 'mob_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [226]:
d7.values()

dict_values(['charvik_sai', 8790395691, 'chaitanyaravi.g3@gmail.com', [4, 5, 6, 7], (1, 2, 3), {40, 10, 50, 20, 30}, {'key4_1': 4, 100: 5}])

In [227]:
type(d7.values())

dict_values

In [229]:
d7.items() ### try to return list of tuples(all key values are converted to list of tuple values)

dict_items([('name', 'charvik_sai'), ('mob_no', 8790395691), ('mail_id', 'chaitanyaravi.g3@gmail.com'), ('key1', [4, 5, 6, 7]), ('key2', (1, 2, 3)), ('key3', {40, 10, 50, 20, 30}), ('key4', {'key4_1': 4, 100: 5})])

In [230]:
d8 = {"key1":"Sudh","key2":[1,2,3,4]}

In [231]:
d8

{'key1': 'Sudh', 'key2': [1, 2, 3, 4]}

## how to add key values manually to original dict

In [232]:
d8['key3']= "kumar"

In [233]:
d8

{'key1': 'Sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [234]:
d8['key4']=[10,20,30,40]

In [235]:
d8

{'key1': 'Sudh',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 'key4': [10, 20, 30, 40]}

## to update value in specific key in a dict

In [ ]:
d8['key1'] = "asdfsdfgsdgk"

In [240]:
d8

{'key1': 'asdfsdfgsdgk',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 'key4': [10, 20, 30, 40]}

## to delete the key value in a dict

In [241]:
del d8['key1']

In [242]:
d8

{'key2': [1, 2, 3, 4], 'key3': 'kumar', 'key4': [10, 20, 30, 40]}

## to delete complete dict

In [244]:
del d8

In [246]:
d8

NameError: name 'd8' is not defined

In [247]:
d9 = {'key1':"sudh","key2":[4,5,6,7,8]}

In [248]:
d9[[1,2,3]] = "sudh"

TypeError: unhashable type: 'list'

In [249]:
d9[(1,2,3)]= "tuple"

In [250]:
d9

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'tuple'}

In [251]:
d9[3+8j]="complex key value"

In [252]:
d9

{'key1': 'sudh',
 'key2': [4, 5, 6, 7, 8],
 (1, 2, 3): 'tuple',
 (3+8j): 'complex key value'}

In [255]:
d9.get("key1") ## to get the value from given key

'sudh'

In [256]:
d10 = {"key1":"ineuron","key2":"FSDS"}

In [257]:
d10

{'key1': 'ineuron', 'key2': 'FSDS'}

## how to add 2 dicts or append

In [258]:
d11 = {"key3":456,"key4":[1,2,3,4]}

In [259]:
d11

{'key3': 456, 'key4': [1, 2, 3, 4]}

In [260]:
d10.update(d11)

In [261]:
d10

{'key1': 'ineuron', 'key2': 'FSDS', 'key3': 456, 'key4': [1, 2, 3, 4]}

In [262]:
d11

{'key3': 456, 'key4': [1, 2, 3, 4]}

In [263]:
d10 + d11

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [267]:
d10['key1']

'ineuron'

In [268]:
d10.get('key1')

'ineuron'

In [269]:
d10['key10']

KeyError: 'key10'

In [270]:
d10.get('key10')

In [271]:
d11

{'key3': 456, 'key4': [1, 2, 3, 4]}

In [272]:
d12 = {"key1":"ineuron","key2":"FSDS_2.0"}

In [273]:
d12

{'key1': 'ineuron', 'key2': 'FSDS_2.0'}

In [274]:
key = ("name","mobile_no","email_id")
value = "sudh"

In [275]:
d12.fromkeys(key,value)

{'name': 'sudh', 'mobile_no': 'sudh', 'email_id': 'sudh'}

In [276]:
key = ("name","mobile_no","email_id")
value = ("sudh","sudh1","sudh2")

In [277]:
d12.fromkeys(key,value)

{'name': ('sudh', 'sudh1', 'sudh2'),
 'mobile_no': ('sudh', 'sudh1', 'sudh2'),
 'email_id': ('sudh', 'sudh1', 'sudh2')}